* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	color: #555;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	position: relative;
	height: 100vh;
	font-weight: 400;
}

.container {
	width: 100%;
	height: 100vh;
}

.snackbar {
	position: absolute;
	top: 0;
	left: 50%;
	padding: 15px 30px;
	color: #fff;
	z-index: 10;
	background-color: #3c3b3f;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**********************************************
*** Left PART
**********************************************/

.left {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(to right bottom, rgba(60, 59, 63, 0.856) 125%, rgba(96, 92, 60, 0.562)), url(../img/antique-book-camera-2764178.jpg);
}

.heading__primary {
	color: #fff;
	font-size: 40px;
	text-align: center;
	padding: 40px 0;
}

.section__form {
	padding: 20px 0 0 0;
}

.form {
	background-color: #fff;
	width: 60%;
	margin: 0 auto;
	padding: 30px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.form__input {
	width: 100%;
	padding: 8px 15px;
	color: #000;
	line-height: 1.7;
	font-size: 15px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.form__input-container {
	margin: 1.5rem 0;
	border: none;
}
.form__input:focus {
	border: 1px solid #3c3b3f;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.form__label {
	display: inline-block;
	color: #000;
	margin: 10px 0;
}

.form__button {
	display: block;
	cursor: pointer;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 15px 15px;
	text-decoration: none;
	background-color: #3c3b3f;
	outline: none;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__Content {
	color: #fff;
	text-align: center;
	padding: 7vh 0;
}

/**********************************************
*** Right PART
**********************************************/
.right {
	position: relative;
	float: right;
	width: 50%;
	height: 100%;
	background-color: #fff;
}

.content__holder {
	margin: 54px;
}

.content__holder h4 {
	color: #000;
	font-size: 25px;
}

.book {
	padding: 13px 0;
	border-bottom: 1px solid #e7e7e7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.book:first-child {
	margin-top: 35px;
}

.book:nth-child(even) {
	background-color: #f7f7f7;
}

.book__label {
	color: #000;
	margin-right: 5px;
}

.book__delete--btn {
	font-size: 20px;
	color: #3c3b3f;
	background: none;
	border: none;
	padding-right: 5px;
}

.book__delete--btn:focus {
	outline: none;
}
